.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 500px;
  }
}

* {
  font-family: 'Jua', sans-serif;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.box1 {
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.button-wrapper {
  /* 내부 내용을 가로 가운데 정렬 */
  text-align: center;
}

.orders{
  margin-top: 100px
}